body{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  background: black;
}
.header {
  margin: 0%;

  background-image: url(https://wallpapercave.com/wp/wp5104277.jpg);
  border: black;
  background-attachment: fixed;
  height: 800px;
}
.heading {
  /* position: relative; */
  padding: 100px;
  font-size: 90px;
  color: antiquewhite;
  text-align: center;
  margin: 0%;
  background: rgba(9, 9, 9, 70%);
}
.body {
  margin: 0%;
  padding: 30px;
  text-align: center;
  background: rgba(14, 14, 14, 0.8);
  color: rgb(191, 194, 193);
  font-size: 45px;
  font-style: italic;
}

.head {
  border-top: solid black;
  margin: 0%;
  position: relative;
  padding: 60px;
  font-size: 70px;
  color: antiquewhite;
  text-align: center;
}
.head5,
.body5 {
  background: rgba(146, 136, 1, 0.7);
  color: aliceblue;
  font-weight: 600;
  p
}
.head4,
.body4 {
  background: rgba(1, 151, 136, 0.7);
  color: rgb(3, 57, 79);
  font-weight: 600;
}
.head3,
.body3 {
  background: rgba(101, 100, 100, 0.7);
  font-weight: 600;
}
.head2,
.body2 {
  background: rgba(214, 66, 2, 0.7);
  font-weight: 600;
}
.head1,
.body1 {
  background: rgba(55, 44, 68, 0.7);
  color: rgb(247, 185, 229);
  font-weight: 600;
}

title {
  color: aqua;
  text-align: center;
  padding-top: 25%;
}

.header5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://images5.alphacoders.com/902/thumb-1920-902387.jpg);
  margin: 0%;
  width: 100%;
  height: 1200px;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.header4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://wallpapercave.com/dwp1x/wp3651414.jpg);
  margin: 0%;
  width: 100%;
  height: 1200px;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.header3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://wallpapers.com/images/featured/death-note-htruruirspqq0zot.jpg);
  margin: 0%;
  width: 100%;
  height: 1200px;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.header2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://images2.alphacoders.com/981/981462.jpg);
  margin: 0%;
  width: 100%;
  height: 1200px;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.header1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(https://www.xtrafondos.com/wallpapers/personajes-de-one-piece-10552.jpg);
  margin: 0%;
  width: 100%;
  height: 1200px;
  background-size: 100% 100%;
  background-attachment: fixed;
}
